<div class="flex justify-center items-center h-screen">
  <div class="w-2/4 shadow-lg p-2">
    <h1 class="mb-2 mt-0 text-5xl font-semibold leading-tight text-primary">
      App Piano
    </h1>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-primary-100 p-4 text-primary-600"
      (click)="playAudio(1)"
    >
    </a>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-red-100 p-4 text-primary-600"
      (click)="playAudio(2)"
    >
    </a>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-green-100 p-4 text-primary-600"
      (click)="playAudio(3)"
    >
    </a>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-yellow-100 p-4 text-primary-600"
      (click)="playAudio(4)"
    >
    </a>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-purple-100 p-4 text-primary-600"
      (click)="playAudio(5)"
    >
    </a>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-orange-100 p-4 text-primary-600"
      (click)="playAudio(6)"
    >
    </a>
    <a
      href="#!"
      aria-current="true"
      class="block w-full cursor-pointer rounded-lg bg-fuchsia-200 p-4 text-primary-600"
      (click)="playAudio(7)"
    >
    </a>
  </div>
</div>
